*{
padding:0;
margin:0;
font-family: sans-serif;
}
.container{
    background-color: black; 
    height: 100vh;
    align-items: center;
    position: relative;
}
.logo{
width: 50px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    margin-right: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding : 20px 0;
    overflow: hidden;
}
header ul {
    display : flex;
    font-size: 19px;
}
header ul li{
    list-style: none;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.text{
    width : 40%;
    color: #fff;
}
.text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.text p{
    font-size: 18px;
    margin:20px 0;
}
.text a{
text-decoration: none;
background: #fff;
color: black;
padding: 8px 15px;
border-radius: 20px;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom:20px;
    left: 42.5%;
}
.icons img{
   width: 40px;
   transition: 0.5s;
   cursor: pointer;
}
.icons img:hover{
transform: scale(1.2);

}